input {
	file{
		path=> "PATH-To-LOG-FILE/twitter-integration.log"
		type => "log"
        start_position => "beginning"
	}
}

filter {
	grok{
		match => { "message" => "%{LOGLEVEL:logLevel} %{NUMBER:pid} --- \[.*\].*: tweet: %{GREEDYDATA:tweet} user: %{WORD:user} tweet_id: %{NUMBER:tweet_id} posted_at: %{TIMESTAMP_ISO8601:time}"}
	}

	if "_grokparsefailure" in [tags] {
		drop { }
	}
}

output {

    elasticsearch {
        hosts => "localhost:9200"
		user => "yasmin"
		password => "yasmin"
		index => "twitter-balaha_indx"
    }

	stdout{
		codec => rubydebug
	}
}